[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/alexandergall/nixpkgs.git
	branch = ALX
[submodule "installer"]
	path = installer
	url = https://github.com/alexandergall/nixos-pxe-installer.git
	branch = master
